<div class="container-fluid">
    <h1>Olá {{usuarioLogado.nome}}!</h1>
    <p>Seja bem vindo ao Sistema Acadêmico da Residência de Software - SERRATEC!</p>
    <p>Neste Portal você encontra Avisos, Notícias, <a routerLink="/contato">Informações de
        Contato</a>, fica por dentro de sua <a routerLink="/grade-de-horarios">Grade de Horários</a>, além de poder
      acessar as <a routerLink="/disciplinas">Disciplinas</a> que você está lecionando.</p>

    <h2 id="avisos"><i class="fas fa-exclamation-triangle"></i>Avisos</h2>
    <ul>
      <li>
        Nesta segunda-feira (dia 06/01) não haverá aula de Coach.
      </li>
      <li>
        Grade de horários atualizada, confira no <a href="./grade_horarios.html">link</a>.
      </li>
    </ul>

    <h2 id="noticias" class="news"><i class="fas fa-newspaper"></i>Notícias</h2>
    <ul>
      <li>
        Serratec Business reúne empresários em Petrópolis. <a
          href="https://www.diariodepetropolis.com.br/integra/serratec-business-reune-empresarios-em-petropolis-173502"
          target="_blank">Saiba Mais</a>.
      </li>
      <li>
        Evento "Um roadmap para linguagens e frameworks web" - GDG Petrópolis, acontece na FAETERJ Petrópolis. <a
          href="https://www.meetup.com/pt-BR/GDGPetropolis/events/265246219/" target="_blank">Saiba Mais</a>.
      </li>
    </ul>
  </div>
