<div class="container-fluid">
    <h1><i class="far fa-clock"></i><span class="dando_espaco">Grade de Horários</span></h1>
    <p>Clique no link a seguir para baixar a grade de horários referente a sua turma:</p>
    <ul>
        <li>
            <p><a id="download-grade-A" href="../../assets/Grade-Residência_de_Software.pdf"  target="_blank" data-size="309 KB">TURMA A</a>.</p>
        </li>
        <li>
            <p><a id="download-grade-B" href="../../assets/Grade-Residência_de_Software.pdf"  target="_blank" data-size="309 KB">TURMA B</a>.</p>
        </li>
    </ul>
</div>