.header{
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
.pessoais{
    float: left;
    width: 70%;
    padding: 20px 0px 20px 20px;
    border: 2px solid rgb(100, 100, 100);
    border-radius: 5px;
}
.foto{
    float: right;
    width: 27%;
    text-align: center;
    padding: 5px;
    border: 2px solid rgb(100,100,100);
    border-radius: 5px;
    height: 182px;
}
img{
    height: 182px;
}
.objetivo{
    float: left;
    width: 70%;
    padding: 20px 0px 20px 20px;
    border: 2px solid rgb(100,100,100);
    border-radius: 5px;
}
.academico{
    float: left;
    width: 100%;
    padding: 20px;
    border: 2px solid rgb(100,100,100);
    border-radius: 5px;
}
.quebra{
    height: 70%;
    width: 70%;
}
.dados{
    display: inline;
    padding: 3px;
}
.conteudos{
    font-size: 17px;
}
.profissional{
    float: left;
    width: 100%;
    padding: 20px;
    border: 2px solid rgb(100,100,100);
    border-radius: 5px;
}
.complementares{
    float: left;
    width: 100%;
    padding: 20px;
    border: 2px solid rgb(100,100,100);
    border-radius: 5px;
}
.footer{
    text-align: center;
    font-size: 4px;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 700px;
}
