<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- TITLE -->
    <title>Docentes - SistaCad Serratec</title>
    <link rel="shortcut icon" href="img/icon-serratec.png">

    <!-- CSS`s -->
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- CSS`s da página -->
    <link href="css/index.css" rel="stylesheet">
    <link href="css/sb-admin.css" rel="stylesheet">
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="css/docentes.css">
    <!-- CSS do Font-awesome -->
    <link rel="stylesheet" href="vendor/fontawesome-free/css/all.min.css">

    <!-- SCRIPTS -->
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Script`s FontAwesome -->
    <script src="vendor/fontawesome-free/js/solid.js"></script>
    <script src="vendor/fontawesome-free/js/fontawesome.js"></script>
    <!-- Script`s da página -->
    <script src="js/index.js"></script> <!-- (Menu Toggle) -->
    <script src="js/docentes.js"></script>
    <script src="js/sb-admin.min.js"></script>


    <!-- Importando o Axios 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js."></script>
    -->

</head>

<body id="page-top">

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">
                <a href="./index.html"><img src="./img/res-azul.png" alt="Logo Residencia de Software"></img></a>
            </div>
            <div class="list-group list-group-flush">
                <a href="./docentes.html" class="list-group-item list-group-item-action bg-light">Docentes</a>
                <a href="./disciplinas.html" class="list-group-item list-group-item-action bg-light">Disciplinas</a>
                <a href="./grade_horarios.html" class="list-group-item list-group-item-action bg-light">Grade de
                    Horários</a>
                <a href="./contato.html" class="list-group-item list-group-item-action bg-light">Contato</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-blue border-bottom sticky-top">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span></span>
                </button>

                <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button> -->

                <!--<div class="collapse navbar-collapse" id="navbarSupportedContent">-->
                <div class="botoes-esq">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html"><i class="fa fa-home" aria-hidden="true"></i><span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <span class="badge badge-danger">9+</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
                                <a class="dropdown-item" href="#">ALERT 1, BUILD IN JS</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">ALERT 2, BUILD IN JS</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user-circle fa-fw"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="./perfil.html">Perfil</a>
                                <a class="dropdown-item" href="./configuracoes.html">Configurações</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal"
                                    data-target="#logoutModal">Sair</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Pop-up "Deseja SAIR?" -->
            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Tem certeza que deseja sair?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">Clique em "Sair" abaixo, se tiver certeza que deseja encerrar sua
                            sessão.</div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                            <a class="btn btn-primary" href="login.html">Sair</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">

                <h1><i class="fas fa-chalkboard-teacher"></i><span class="dando_espaco">Docentes</span></h1>
                
                <!-- {{#each professor}} -->
                <!-- Linha de código HANDLEBARS que repete estrutura no interior para cada disciplina diferente. [APAGAR SE NÃO FOR USAR HANDLEBARS] -->
                    
                    <div class="docente" id="docente">
                        
                    </div>

                <!-- {{/each}} -->
                <!-- [APAGAR SE NÃO FOR USAR HANDLEBARS] -->

            </div>

            <!-- RODAPÉ -->
            <footer class="sticky-footer">
            </footer>

        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Botão que faz voltar pro TOPO -->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

</body>

</html>